// General structure adopted from Kitty Giraudel
// https://sass-guidelin.es/#architecture

// ABSRACTS are variables and mixins. (they should *never* add lines to the production CSS)
@use "abstracts/variables" as vars;
@use "abstracts/z-index" as *;
@use "abstracts/mixins" as mix;
@use "abstracts/extends";

// BASE is for things like global site styles and typography.
@use "base/reset";
@use "base/defaults";

// LIBRARIES is for third party Scss

// COMPONENTS is for stuff like buttons, cards, callouts, toasts, etc... Essentially - reusable rectangles.

// LAYOUT is for stuff like a grid system, topnav, footer, etc.

// SECTIONS is a stripe (like a hero section) - like a component, but bigger.

// PAGES is for any specific page template

// FINALLY, we should have a place for things we still need to get to...
@use "todo/shame";
