head
  title= siteTitle
  link(href="css/site.css" rel="stylesheet")
  meta(name="description" content=description)

//---- Favicon and Social stuff commented out until you have the assets for it.
//-include _favicons.pug
//-include _social.pug


//-- Default schema included, but PLEASE edit it.
//-include _schema.pug