- const liveURL = "" 
- const localURL = ""
- const siteTitle = ""
- const siteEmail = ""
- const description = "" 

// Don't change below this line
if testing == undefined
  - const testing = true
- const siteURL = testing === true ?  localURL : liveURL
- const d = new Date()
- const lastUpdated = d.getFullYear() + '-' + ((d.getMonth()+1)<10?'0':'') + (d.getMonth()+1) + '-' + (d.getDate()<10?'0':'') + d.getDate() + '@' + (d.getHours()<10?'0':'') + d.getHours() + ':' + (d.getMinutes()<10?'0':'') + d.getMinutes() + ':' + (d.getSeconds()<10?'0':'') + d.getSeconds() 