- const testing = true
include partials/_variables
include partials/_mixins

doctype html
html(lang="en")
  
  include partials/_head.pug
    
  body
    #app(v-cloak)

      main(style="height:100vh; display:flex; align-items:center; justify-content:center; padding:2rem;")
        .inner
          h1 {{h1}} 
          h5 {{h5}}

    include partials/_javascripts