@use "variables" as vars;

%clearfix {
  &:after { content: ""; display: table;clear: both; }
}

%truncate { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

%commalist {
  li { display: inline;
    &:after { content:', '; }
    &:last-child:after { content:''; }
  }
}

%textlink { text-decoration: none; color:vars.$link;
  &:hover { border-bottom: 0.05em solid currentColor; }
}